# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/

# ===============================
# Virtualenv
# ===============================
.venv/
venv/
env/

# ===============================
# Cache de ferramentas
# ===============================
.pytest_cache/
.mypy_cache/
.cache/

# ===============================
# IDEs
# ===============================
.vscode/
.idea/
*.swp

# ===============================
# Modelo fasttext
# ===============================
app/models
*.bin

# ===============================
# VS
# ===============================
.vs/


# ===============================
# Logs
# ===============================
*.log

# ===============================
# Sistema operacional
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Resources
# ===============================
app/resources/
